html{
  scroll-behavior: smooth; 
}

#secao2, #secao3, #secao4 {
  scroll-margin-top: 100px;
}

#entrada-dados {
  padding: 20px 0;
}

btn {
  color: white !important;
  background-color: solid orange;
  font-weight: bold !important;
}

.typewriter{
  overflow: hidden;
  white-space: nowrap; 
  letter-spacing: .15em; 
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.btn{
  color: #fff !important;
    background-color: orange !important;
    border-color: orange !important;
    font-weight: 600 !important;
}

.btn:hover{
  background-color: rgb(246, 86, 0) !important;
  border-color: rgb(246, 86, 0) !important;
}

a {
  color: black !important;
}

a:hover {
  color: white !important;
}

.navbar {
  padding: 0 !important;
}


.l{
      border-top: 1px solid orange !important;
}

.fonte {
color: orange !important;
}

.fonte:hover {
  color: orange !important;
}

.border:hover{
  border: 1px solid orange !important;    
  cursor:pointer !important;
  }

input[type=radio]:checked + .l_quadro{
    border: 1px solid orange !important;    
  }

  .quadros {
    flex-wrap: unset !important;
    display: block !important;
  }


  input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}

label {
  display: block !important;
  margin-top: 15px;
}


.row {
  margin: 0 !important;
}

.embreve_ul {
  list-style: none;
 padding-inline-start: 0px !important;
   }


.material-symbols-outlined {
  position: absolute;
  justify-content: center !important;
}

.embreve_li {
  margin-bottom: 20px;
}

.quadro_resultado {
  color: white;
  background-color:rgb(246, 86, 0);
  border-radius: 15px;
  padding: 20px;
}
